{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{%block head_title %}Leaderboards{% endblock %}</title>
  <meta name="description" content="KeyForge leaderboards">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
  <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon-5.0.svg' %}">
  -->

  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css' rel='stylesheet' type='text/css'>
  
  {% block extra_head %}
    <!-- Custom head content -->
  {% endblock %}
</head>

<body class="preload">
  {% block body %}
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <nav role="navigation" class="container">
    <ul>
      <li>
        <a href="{% url 'show_groups' %}">
          Leaderboards
        </a>
      </li>
      <li>
        {% if user.is_authenticated %}
        <a href="/accounts/profile">Profile</a>
        {% else %}
        <a href="{% url 'login' %}">Log in</a>
        {% endif %}
      </li>
    </ul>
  </nav>

  <!-- Add your site or application content here -->
  <main role="main" class="container">
    {% block content %}
      <!-- Silence is golden -->
    {% endblock %}
  </main>

  <div class="container meta">
    {% block meta %}
      <!-- Silence is golden -->
    {% endblock %}
  </div>

  {% endblock %}
</body>

</html>