{% extends "page.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="six columns">
      <h1>Sign Up</h1>

      {% if user_form.errors %}
        {{ user_form.errors }}
      {% else %}
        {% if profile_form.errors %}
          {{ profile_form.errors }}
        {% endif %}
      {% endif %}


      <form method="POST">
        {% csrf_token %}
        {{ user_form }}
        {{ profile_form }}
        <input type="submit" class="button-primary" value="Let's go!">
      </form>
    </div>
    <div class="three columns">&nbsp;</div>
  </div>
</div>
{% endblock %}
