:root {
  --color-muted: #ccc;
  --color-sw-green: #84fb3e;
  --color-sw-purple: #8048c5;
  --color-sw-purple-darker: #552b8a;
}

/**
 * Top Nav
 */
ul.top-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

/**
 * Utilities
 */

.flex-spacer {
  flex-grow: 1;
}

/**
 * Overrides for Django fixtures
 */

 /* Help text is used with form controls, e.g. when you have username or
  * password requirements */
.helptext {
  color: var(--color-muted);
  position: relative;
  top: -10px;
}

/**
 * Theme
 */
a.nav-back:before {
  content: "\2190";
  padding-right: 2px;
}

.empty {
  color: var(--color-muted);
  list-style-type: none;
}

.meta {
  text-align: right;
  color: var(--color-muted);
}
a {
  color: var(--color-sw-purple);
}

a:hover,
a:focus,
a:active {
  color: var(--color-sw-purple-darker)
}

.text-muted {
  color: var(--color-muted);
}