:root {
  --color-muted: #ccc;
  --color-sw-green: #84fb3e;
  --color-sw-purple: #8048c5;
  --color-sw-purple-darker: #552b8a;
  --color-bg: #fff;
  --color-text: #333;
}

body, html {
  padding: 0;
  margin: 0;
}

/**
 * Top Nav
 */
ul.top-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-weight: 300;
}

ul.top-nav > li:not(:first-child) {
  margin-left: 20px;
}

/**
 * Utilities
 */

.flex-spacer {
  flex-grow: 1;
}

/**
 * Overrides for Django fixtures
 */

 /* Help text is used with form controls, e.g. when you have username or
  * password requirements */
.helptext {
  color: var(--color-muted);
  position: relative;
  top: -10px;
}

/**
 * Theme
 */
html {
  background-color: var(--color-bg);
}

body {
  font-family: Ubuntu, Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: var(--color-text);
}

body * {
  transition: all 0.5s ease-in-out;
  transition-property: background-color, color, border-color;
}
body.preload * { transition: none !important; }

a.nav-back:before {
  content: "\2190";
  padding-right: 2px;
}

.empty {
  color: var(--color-muted);
  list-style-type: none;
}

.meta {
  text-align: right;
  color: var(--color-muted);
}
a {
  color: var(--color-sw-purple);
}

a:hover,
a:focus,
a:active {
  color: var(--color-sw-purple-darker)
}

.text-muted {
  color: var(--color-muted);
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: var(--color-sw-purple);
  border-color: var(--color-sw-purple-darker)
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: var(--color-sw-purple-darker);
  border-color: var(--color-sw-purple-darker)
}
