
{% extends "page.html" %}

{% block content %}
  {% if leaderboard.champion %}
    <h1>Challenge {{leaderboard.name}}</h1>
  {% else %}
    <h1>Claim {{leaderboard.name}}</h1>
  {% endif %}

  <a class="nav-back" href="{% url 'show_leaderboard' leaderboard.slug %}">Back to board</a>

  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button class="button-primary" type="submit">
      {% if leaderboard.champion %}
        Submit challenge
      {% else %}
        I am the champion
      {% endif %}
      
    </button>
  </form>
{% endblock %}