{% extends "page.html" %}

{% block content %}
<h1>{{leaderboard_group.name}} Leaderboards</h1>

<ol class="leaderboards-list">
  {% for board in leaderboard_group.leaderboards.all %}
  <li>
    <a href="{% url 'show_leaderboard' board.slug %}">{{board.name}}</a>
    {% if board.champion %}
    <div class="leaderboards-list__leaderboard-stats">
        {{board.champion}} has {{board.champion_winning_streak}} wins with {{board.champion.decks.first}}.
    </div>
    {% else %}
    <div class="leaderboards-list__leaderboard-stats--empty">
        This board needs a champion
    </div>
    {% endif %}
  </li>
  {% empty %}
  <li class="empty">
    There's nothing here! Maybe you should bug a moderator.
  </li>
  {% endfor %}
</ol>
{% endblock %}

{% block meta %}
Leaderboard group {{leaderboard_group.id}}
{% endblock %}