{% extends "page.html" %}

{% block content %}
<div class="container">
  <h1>{{leaderboard.name}} Leaderboard</h1>

  <a class="nav-back" href="{% url 'show_group' leaderboard.group.slug %}">Back to list</a>

  {% if not leaderboard.champion %}
    <h2>The Champion</h2>
    <p>... Oh... wait... this board needs a champion!</p>
    <a class="button" href="{% url 'show_challenge_form' leaderboard.slug %}">Be that champion</a>
  {% endif %}

  {% if leaderboard.champion %}
    <h2>The Champion</h2>
    <div>
      The current champion is {{leaderboard.champion.html}}, piloting <a href="{{leaderboard.champion.decks.first.get_dok_url}}">{{leaderboard.champion.decks.first}}</a>. Watch out! They're on a hot streak.
    </div>

    <h2>Open Challenges</h2>
    <ol>
      {% for challenge in leaderboard.challenges.all %}
      <li>
        {{challenge.created_by.html}} is waiting for battle. Look out, they've got a <a href="{{challenge.created_by.decks.first.get_dok_url}}">{{challenge.created_by.decks.first}}</a>!
        <a href="{{challenge.get_absolute_url}}">Details.</a>
      </li>
      {% endfor %}
    </ol>

    <p>
      <a href="{% url 'show_challenge_form' leaderboard.slug %}">Submit a challenge</a>
    </p>

    <h2>Match History</h2>
    <ul>
      {% for result in leaderboard.last_five_results %}
      <li>
        {{result.html}} defended by {{result.defended_by.html}}
      </li>
      {% endfor %}
    </ul>
    <a href="{% url 'show_results' leaderboard.slug %}">See all.</a>
  {% endif %}
</div>
{% endblock %}

{% block meta %}
<div class="container">
  Leaderboard {{leaderboard.id}}
</div>
{% endblock %}